[access "refs/heads/*"]
	abandon = group Change Owner
	abandon = group webmasters 
	label-Code-Review = -2..+2 group Change Owner
	label-Code-Review = -2..+2 group user/yingwang (ying-wang)
	label-Code-Review = -2..+2 group webmasters 
	label-Workflow = -1..+1 group infra-core
	labelAs-Code-Review = -2..+2 group webmasters 
